<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(alert) -%>">
  <span class='title'>
    <strong><%= alert.title %></strong>
    - <em><%= t('.live_from') %></em> <%= alert.live_at.try(:strftime, '%-m/%-d/%Y %l:%M %p') || 'N/A' %>,
    <em><%= t('.to') %></em> <%= alert.down_at.try(:strftime, '%-m/%-d/%Y %l:%M %p') || 'N/A' %>
    <% if alert.live? -%>
      <span class='label'><%= t('.live') %></span>
    <% end -%>
    <% if alert.alert_type.present? %>
      <span class='label'><%= alert.alert_type.titleize %></span>
    <% end -%>
  </span>
  <span class='actions'>
    <%= link_to refinery_icon_tag("application_edit.png"), refinery.edit_alerts_admin_alert_path(alert),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), refinery.alerts_admin_alert_path(alert),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'refinery.admin.delete', :title => alert.title),
        :method => :delete %>
  </span>
</li>
