<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(alert) -%>">
  <span class='title'>
    <%= alert.title %>
  </span>
  From: <%= alert.live_at %>
  To: <%= alert.down_at %>
  <%= raw(" - <strong>Live</strong>") if alert.live? %>
  <span class='actions'>
    <%= link_to refinery_icon_tag("application_edit.png"), refinery.edit_alerts_admin_alert_path(alert),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), refinery.alerts_admin_alert_path(alert),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'refinery.admin.delete', :title => alert.title),
        :method => :delete %>
  </span>
</li>
