<%= form_for [refinery, :alerts_admin, @alert] do |f| -%>
  <%= render '/refinery/admin/error_messages',
              :object => @alert,
              :include_object_name => true %>

  <div class='field'>
    <%= f.label :title -%>
    <%= f.text_field :title, :class => 'larger widest' -%>
  </div>

  <div class='field'>
    <%= render '/refinery/admin/wysiwyg',
                :f => f,
                :fields => [:content],
                :object => "alerts/alert" -%>
  </div>

  <div class='field'>
    <span class='label-with-help'>
      <%= f.label :live_at -%>
      <%= refinery_help_tag "Exact date and time the alert will go live. If there are multiple live alerts, the most recent one will 'win'." %>
    </span>
    <%= f.datetime_select :live_at -%>
  </div>

  <div class='field'>
    <span class='label-with-help'>
      <%= f.label :down_at -%>
      <%= refinery_help_tag "Exact date and time the alert should come down. Will stay up indefinitely if left blank." %>
    </span>
    <%= f.datetime_select :down_at, :include_blank => true -%>
  </div>

  <%= render '/refinery/admin/form_actions', :f => f,
             :continue_editing => false,
             :delete_title => t('delete', :scope => 'refinery.alerts.admin.alerts.alert'),
             :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @alert.title) -%>
<% end -%>

<% content_for :javascripts do -%>
  <script>
    $(document).ready(function(){
      page_options.init(false, '', '');
    });
  </script>
<% end -%>
